<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dhl.com.hydroelectricitymanager">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    //地图包、搜索包需要的基础权限
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data android:name="com.baidu.lbsapi.API_KEY"-->
            <!--android:value="7ITIzqcmlbdvXSBZI7cSGvG3N2GwQGuj"/>-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e0391e69c9ec2b3bcfdf4dda37be7c2b"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:name=".activity.ContainerActivity"/>
        <!--<activity android:name=".activity.DropdownList"/>-->
        <activity android:name=".activity.ServiceDemandActivity"/>
        <activity android:name=".activity.ServiceDemandActivityText"/>
        <activity android:name=".activity.FilterContainer"/>
        <activity android:name=".activity.LoginActivity"/>
        <!-- 我的预约-->
        <activity android:name=".activity.MyReservation"/>
        <!-- 我的服务-->
        <activity android:name=".activity.MyService"/>
        <!-- 服务地址-->
        <activity android:name=".activity.ServiceAddress"/>
        <!-- addAddress-->
        <activity android:name=".activity.AddAddressActivity"/>
        <!-- 我的优惠券-->
        <activity android:name=".activity.MyCoupon"/>
        <!-- 发布需求-->
        <activity android:name=".activity.PublicRequirement"/>

        <!-- 设置服务时间-->
        <activity android:name=".activity.SettingDateTime"/>
        <!-- 水电管家订单确认-->
        <activity android:name=".activity.OrderConfirmHydroelectricity"/>



        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>
    </application>

</manifest>
